.btn {
    display: inline-block;
    padding: 1.4rem 3.2rem;
    border-radius: 1rem;
    background: transparent;
    font-family: $ff-regular;
    border: 1px solid transparent;
}

.btn-cta {
    border-color: $color-1;
    color: $color-1;
}

.btn-black {
    background-color: $color-1;
    color: $color-3;
}

.btn-grey {
    background-color: $color-4;
}