header {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: -20%;
        left: 0;
        background-image: linear-gradient(to right, #FF8700 , #00FFA3);
        opacity: 0.5;
        filter: blur(250px);
        z-index: -1;
    }

    .nav {
        height: 7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__list {
            display: flex;
        }

        &__item {
            margin: 0 1.5rem;
        }

        &__link {
            color: $color-1;
        }
    }

    .hero {
        margin-top: 3rem;
        display: flex;
        height: calc(100vh - 7rem);

        &__text-box,
        &__image {
            flex-basis: 50%;
        }

        &__text-box {
            padding: 8rem 0 6rem;
        }

        &__image {
            position: relative;

             div {
                height: 18rem;
                width: 15rem;
                position: absolute;
                top: 3rem;
                left: 6rem;

                img {
                    width: 100%;
                }
            }
        }

        &__heading {
            font-family: $ff-bold;
            font-size: 4rem;

            span {
                display: block;
                line-height: 1.4;
            }
        }

        &__subheading {
            max-width: 50rem;
            color: $color-2;
            line-height: 1.8;
            margin: 3rem 0;
        }

        .btn-black {
            margin-right: 1rem;
        }

        &__brands-box {
            display: flex;
            align-items: center;
            margin-top: 3.5rem;

            span {
                margin-right: 3rem;
            }
        }
    }
}