section {
    padding: 13rem 0;
}

// FEATURES SECTION
.features {
    &__row--1 {
        max-width: 48rem;
        margin: 0 auto 5rem;
        text-align: center;
    }

    .h-2 {
        text-transform: capitalize;
        line-height: 1.4;
    }

    &__row--2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 9rem;
    }

    &__col {
        padding: 2rem;
        height: 30rem;

        img {
            display: block;
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            margin: 1rem auto;
        }

        .h-3 {
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .p-3 {
            font-size: 1.4rem;
            line-height: 1.7;
            max-width: 30rem;
            margin: 0 auto;
            text-align: center;
        }
    }

    &__col--2 {
        background-color: $color-1;

        .h-3 {color: $color-3;}
        .p-3 {color:$color-6;}
    }
}