section {
    padding: 14rem 0;
}

// FEATURES SECTION
.features {
    &__row--1 {
        max-width: 48rem;
        margin: 0 auto 7rem;
        text-align: center;
    }

    .h-2 {
        text-transform: capitalize;
        line-height: 1.4;
    }

    &__row--2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 9rem;
    }

    &__col {
        padding: 2rem;
        height: 30rem;
        transition: transform .3s ease-in;

        &:hover {
            transform: translateY(-2rem);
        }

        img {
            display: block;
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            margin: 1rem auto;
        }

        .h-3 {
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .p-3 {
            font-size: 1.4rem;
            line-height: 1.7;
            max-width: 30rem;
            margin: 0 auto;
            text-align: center;
        }
    }

    &__col--2 {
        background-color: $color-1;

        .h-3 {color: $color-3;}
        .p-3 {color:$color-6;}
    }
}

// PERFORMANCE SECTIONS
.performance {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom left, #d4bfa6, #FFFFFF, #b8e9d7);
        opacity: 0.5;
        filter: blur(250px);
        z-index: -1;
    }

    &__row--1 {
        max-width: 48rem;
        margin: 0 auto;
        text-align: center;

        .square-logo {
            width: 9rem;
        }

        .h-2 {
            line-height: 1.4;
            margin: 2rem 0 4rem;
        }
    }

    &__row--2 {
        img {width: 100%;}
    }
}