@media screen and (max-width: 768px) {
    section {
        padding: 10rem 0;
    }

    .h-2 {
        font-size: 2.8rem;
    }

    header {
        .nav {

            &__logo {
                position: relative;
                z-index: 10;
                img {
                    width: 9rem;
                }
            }

            &__list {
                display: none;
            }

            .btn-cta {
                display: none;
            }
        }

        .menu-toggle {
            display: inline-block;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            position: relative;
            width: 20px;
            height: 20px;

            .open,
            .close {
                position: absolute;
                top: 50%;
                left: 50%;
            }

            .open {
                opacity: 1;
                transform: translate(-50%, -50%);
                transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
            }

            .close {
                opacity: 0;
                transform: translate(-50%, -50%) rotate(90deg);
                transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
            }
        }

        .open.active {
            opacity: 0;
            transform: translate(-50%, -50%) rotate(90deg);
        }

        .close.active {
            opacity: 1;
            transform: translate(-50%, -50%) rotate(0);
        }

        .nav__list {
            background-color: $color-3;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 30vh;
            padding: 50px 40px 20px 40px;
            display: flex;
            align-items: center;
            flex-direction: column;
            transform: translateY(-40vh);
            transition: transform .5s;
        }
    
        .nav__list.active {
            transform: translateY(0);
        }

        .nav__item {
            margin: 2rem 0 0;
        }



        .hero {
            height: initial;

            &__image {
                display: none;
            }
        }
    }

    .features {
        &__row--2 {
            grid-template-columns: 50rem;
            grid-template-rows: repeat(3, 1fr);
            row-gap: 5rem;
            justify-content: center;
        }
    }

    .security {
        &__row {
            flex-direction: column;
        }
    }

    .footer {
        &__logo {
            img {
                width: 9rem;
            }
        }

        &__inner {
            flex-direction: column;

            > div {
                margin-bottom: 2rem;
            }
        }

        .footer__col--1 {
            margin-bottom: 4rem;

            ul {margin-top: 2rem;}
        }

        .h-5 {
            margin-bottom: 1rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .features {
        &__row--2 {
            grid-template-columns: 1fr;
        }
    }

    header {
        .hero {
            &__text-box {
                flex-basis: 100%;
            }
            
            &__brands-box {
                span {
                    display: block;
                    width: 20%;

                    img {width: 100%;}
                }
            }
        }
    }
}